@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./eduford_img/main_bg.JPG);
    background-size:cover;
    background-position: center;
    position:relative;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    align-items: center;
}

nav .fas{
    display:none;
}

/* nav .far{
    display:none;
} */

.nav-links{
    flex: 1;
    text-align: right;

}

nav a {
    font-size: 25px;
    color: white;
    text-align: center;
    text-decoration: none;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration:none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.navStyle .nav-links ul li a{
    color: #fff;
    text-decoration:none;
    /* font-weight: bold; */
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}


.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover ::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.text-box h1{
    font-size:62px;
}

.text-box p{
    margin:10px 0 40px;
    font-size:14px;
    color: #fff;
}

.text-box a{
    color: #fff;
}

.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border:1px solid #fff;
    font-size:13px;
    position: relative;
    padding:12px 34px;
    cursor:pointer;
    background:transparent;
    border-radius:12px;
}

.hero-btn:hover{
    border:1px solid #f44336;
    background: #f44336;
    transition: 0.7s;
}

@media only screen and (max-width:730px){
    .text-box h1{
        font-size:20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100%;
        top:0;
        right:-250px;
        width:200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }


    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor:pointer;
    }
    
    /* nav .far{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor:pointer;
    } */

    
    .nav-links ul{
        padding:30px;
    }
}

.course{
    width:80%;
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);

    margin:auto;
    padding-top:100px;
    text-align:center;
}

h1{
    font-size:36px;
    font-weight: 600;
}

p{
    color: rgb(31, 30, 30);
    font-size:14px;
    font-weight: 300;
    font-weight: bold;
    line-height: 22px;
    padding:10px;
}

.row{
    display:flex;
    margin-top:6%;
    justify-content: space-between;   
}


/* for Simulator page  */
.well .row{
    margin-top: 0;
}

.course-colomn{
    flex-basis: 31%;
    background: #FFB6C1;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align:center;
    font-weight: 600;
    margin:10px 0;
}

.course-colomn:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.6);
}

@media only screen and (max-width:730px){
    .row{
        flex-direction: column;
    }
}

.campus{
    width:80%;
    text-align:center;
    margin: auto;
    padding-top: 50px;;

}

.campus-column{
    flex-basis: 32%;
    margin-bottom: 30px;
    position:relative;
    border-radius:10px;
    position: relative;
    overflow:hidden;
}

.campus-column img{
    width: 100%;
    display: block;
}

.layer{
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    position:absolute;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    font-size:26px;
    width:100%;
    font-weight:500;
    color:#fff;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    position: absolute;
    opacity:0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom:49%;
    opacity:1;
}

.facilities{
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    border-top: 1px solid rgba(0,0,0,0.6); 
    margin: auto;
    text-align: center;
    padding-top:100px;
}

.facilities-column{
    flex-basis:28%;
    border-radius:10px;
    margin-bottom:5%;
    text-align: left;

}

.facilities-column img{
    width: 100%;
    border:2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.facilities-column p{
    padding:0;
}

.facilities-column h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.testimonials{
    width: 80%;
    margin:auto;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    padding-top: 100px;
    text-align: center;
}

.testimonial-call{
    flex-basis:44%;
    border-radius:10px;
    margin-bottom:5%;
    text-align:left;
    background:#f0bebe;
    padding:25px;
    display:flex;
    cursor: pointer;
}

.testimonial-call img{
    height: 40px;
    margin-left:5px;
    margin-right: 30px;
    border-radius:50%;
}

.testimonial-call p{
    padding:0;
}

.testimonial-call h3{
    margin-top:15px;
    text-align: left;
}

.testimonial-call .fas{
    color:#f44336
}

@media only screen and (max-width:730px){
    .testimonial-call img{
        margin-left:5px;
        margin-right:30px;
    }

    .cta h1{
        font-size:25px;
    }
}

.cta{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./eduford_img/banner2.JPG);
    background-position:center;
    background-size:cover;
    border-radius: 10px;
    padding:100px 0;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    text-align:center;
}

.cta h1{
    color: white;
    margin-bottom: 40px;
    padding:0;
}

.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
}

.footer h4{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab{
    color:#f44336;
    margin:5px 13px;
    cursor:pointer;
    padding:10px 0;
    font-size:25px;
}

.far {
    color:#f44336
}

.sub-header{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/vecteezy_technology-background_ma1220.JPG);
    background-position: center;
    background-size: cover;
    text-align:center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width:80%;
    margin:auto;
    padding-top:80px;
    padding-bottom: 50px;
}

.about-column{
    flex-basis: 48%;
    padding:30px 2px;
}

.about-column img{
    width: 100%;
}

.about-column h1{
    padding:0;
}

.about-column p{
    padding: 15px 0 25px;
}

.red-btn{
    border:1px solid #f44336;
    background: transparent;
    color:#f44336
}

.red-btn:hover{
    color:#fff;
}

.blog-content{
    width:80%;
    margin:auto;
    padding:60px 0;
}

.blog-left{
    flex-basis:65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color:#222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #999;
    padding:0;
}

.blog-right{
    flex-basis:32%;
}

.blog-right h3{
    background:#f44336;
    color:white;
    padding: 7px 0;
    font-size:16px;
    margin-bottom:20px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#555;
    padding:8px;
    box-sizing: border-box;

}

.comment-box{
    border: 2px solid #ccc;
    margin:50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: center;

}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding:10px;
    margin:15px 0;
    border:none;
    outline:none;
    background: #f0f0f0;
}

.comment-form button{
    margin:10px 0;
}

@media only screen and (max-width:730px){
    .sub-header h1{
        font-size: 24px;
    }
}

.location{
    width:80%;
    margin:auto;
    padding:80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width:80%;
    padding-top: 50px;
    margin:auto;
}

.contact-col{
    flex-basis:48%;
    margin-bottom:30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fas{
    font-size:28px;
    margin:10px;
    margin-right:30px;
    color:#f44336;
    margin-right: 30px;
}

.contact-col div p{
    padding:0;
}

.contact-col div h5{
    font-size:20px;
    margin-bottom:5px;
    color:#555;
    font-weight:400;
}

.contact-col input, .contact-col textarea{
    width:100%;
    padding:15px;
    margin-bottom:17px;
    outline:none;
    border-radius: 2px solid black;
    border-radius:15px;
    box-sizing: border-box;
}

.container_1{
    text-align: center;
    background:#eceaea;
}

.header_1{
    padding-top: 60px;
    color: #444;
    font-size: 20px;
    margin:auto;
    line-height: 50px;
}

.sub_container{
    max-width: 1200px;
    margin:auto;
    padding: 46px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.teams{
    margin:10px;
    box-sizing: border-box;
    transition: 0.4s;
    cursor: pointer;
    padding: 22px;
    border: 1px solid rgb(202, 200, 200);
    max-width: 30%;
}


.teams:hover{ 
    /* background: rgb(202, 200, 200); */
    box-shadow: 0 0 20px 0px rgba(13, 14, 13, 0.644);
    transition: 0.7s;
}

.teams img{
    width: 200px;
    height: 200px;
}

.name{
    padding:5px;
    font-size: 20px;
    color: #f44336;
    text-transform: uppercase;
}

.desig{
    font-style: italic;
    color:rgb(97, 78, 78);
    margin: 12px 0;
    font-weight: lighter;
    /* color:#b18a50 */
}

.social-links_1{
    margin: 14px;
}

.social-links_1 a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: 0.4s;
}

.social-links_1 a i{
    color: #f44336;
    /* color: #444; */
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px;
    /* border-bottom: 1px solid rgba(0,0,0,0.6); */
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #f33c3c;
}

.blog-heading h3{
    font-size: 1.3rem;
    color:#2b2b2b;
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #cfcece;
    margin: 20px;
    /* border:0.5px solid rgb(119, 117, 117); */
}

.blog-img{
    width: 100%;
    height: auto;

}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color:#f33c3c;
    font-size:0.9rem;
}

.blog-text .blog-title {
    font-size:1.3rem;
    padding-top: 15px;
    font-weight: 500;
    color: #272727;
    font-weight: bolder;
    text-decoration: none;
}

.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p{
    color:#9b9b9b;
    font-size:0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin:20px 0px;
}

.blog-text a{
    color: #0f0f0f;
    text-decoration: none;
}

.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

@media screen and (max-width:600px){
    .teams{
        max-width: 100%;
    }
}

.contact-us h1{
    text-align: center;
    color:#444;
}

.btn_1:hover{
    /* border:1px solid #f44336; */
    background: #ca321e;
    color: white;
    transition: 0.7s;
    /* border: 1px solid white; */
    border-radius: 20px;
}

.btn_1{
    width: 200px;
    height: 35px;
    background-color: #2F3A8F;
    color: white;
    border-radius: 20px;
    vertical-align: middle;
    border: 1px solid white;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* for the run button */
.runButton{
    background-color: #4caf50; 
    color:aliceblue; 
    /* margin-top:2px; */
    height: 35px; 
    margin-right: 70px;
    padding-left: 15px;
    padding-right: 15px;
    /* border-radius: 5px solid rgb(199, 14, 14) !important; */
    
}

